
    <div class="sidebar">
        <!--
          Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
      -->
        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="javascript:void(0)" class="simple-text logo-mini">
                    CT
                </a>
                <a href="javascript:void(0)" class="simple-text logo-normal">
                    Creative Tim
                </a>
            </div>
            <ul class="nav">
                <li class="{% if 'index' in segment %} active {% endif %} ">
                    <a href="/">
                        <i class="tim-icons icon-chart-pie-36"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="{% if 'icons' in segment %} active {% endif %}">
                    <a href="/vantai/devices">
                        <i class="tim-icons icon-atom"></i>
                        <p>Thiết bị</p>
                    </a>
                </li>
                <li class="{% if 'map' in segment %} active {% endif %}">
                    <a href="/vantai/tatcachuyendi">
                        <i class="tim-icons icon-pin"></i>
                        <p>Hành trình</p>
                    </a>
                </li>
                <li class="{% if 'notifications' in segment %} active {% endif %}">
                    <a href="/vantai/tatcadiadiem">
                        <i class="tim-icons icon-bell-55"></i>
                        <p>Địa điểm</p>
                    </a>
                </li>
                <li class="{% if 'user' in segment %} active {% endif %}">
                    <a href="/vantai/tatcamathang">
                        <i class="tim-icons icon-single-02"></i>
                        <p>Tất cả mặt hàng</p>
                    </a>
                </li>
                <li class="{% if '/vantai/tatcacacxe' in segment %} active {% endif %}">
                    <a href="/vantai/tatcacacxe">
                        <i class="tim-icons icon-puzzle-10"></i>
                        <p>Danh sách tất cả các xe</p>
                    </a>
                </li>
                <li class="{% if 'typography' in segment %} active {% endif %}">
                    <a href="/vantai/hahaimembers/">
                        <i class="tim-icons icon-align-center"></i>
                        <p>Danh sách Member</p>
                    </a>
                </li>
                <li>
                    <a href="/vantai/updatedanhsachdirect">
                        <i class="tim-icons icon-world"></i>
                        <p>RTL Support</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'login' %}">
                        <i class="tim-icons icon-button-power"></i>
                        <p>Logout</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
