
    <div class="sidebar" data-color="blue | green">
        <!--
          Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
      -->
        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="javascript:void(0)" class="simple-text logo-mini">
                    by
                </a>
                <a href="javascript:void(0)" class="simple-text logo-normal">
                    HINOSOFT
                </a>
            </div>
            <ul class="nav">
                <li class="{% if 'index' in segment %} active {% endif %} ">
                    <a href="/">
                        <i class="tim-icons icon-bus-front-12"></i>
                        <p>Vận Tải Hà Hải</p>
                    </a>
                </li>
                <li class="{% if 'icons' in segment %} active {% endif %}">
                    <a href="/vantai/devices">
                        <i class="tim-icons icon-mobile"></i>
                        <p>Thiết bị</p>
                    </a>
                </li>
                <li class="{% if 'map' in segment %} active {% endif %}">
                    <a href="/vantai/tatcachuyendi">
                        <i class="tim-icons icon-map-big"></i>
                        <p>Hành trình</p>
                    </a>
                </li>
                <li class="{% if 'notifications' in segment %} active {% endif %}">
                    <a href="/vantai/tatcadiadiem">
                        <i class="tim-icons icon-square-pin"></i>
                        <p>Địa điểm</p>
                    </a>
                </li>
                <li class="{% if 'user' in segment %} active {% endif %}">
                    <a href="/vantai/tatcamathang">
                        <i class="tim-icons icon-cart"></i>
                        <p>Tất cả mặt hàng</p>
                    </a>
                </li>
                <li class="{% if '/vantai/tatcacacxe' in segment %} active {% endif %}">
                    <a href="/vantai/tatcacacxe">
                        <i class="tim-icons icon-settings-gear-63"></i>
                        <p>Danh sách tất cả các xe</p>
                    </a>
                </li>
                <li class="{% if 'typography' in segment %} active {% endif %}">
                    <a href="/vantai/baotrixe/">
                        <i class="tim-icons icon-badge"></i>
                        <p>Bảo Trì Xe</p>
                    </a>
                </li>
                <li class="{% if 'typography' in segment %} active {% endif %}">
                    <a href="/vantai/hahaimembers/">
                        <i class="tim-icons icon-badge"></i>
                        <p>Danh sách Member</p>
                    </a>
                </li>
                <li>
                    <a href="/vantai/updatedanhsachdirect">
                        <i class="tim-icons icon-world"></i>
                        <p>Liên hệ hỗ trợ</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'login' %}">
                        <i class="tim-icons icon-button-power"></i>
                        <p>Đăng xuất</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
