{% extends "layouts/base.html" %}

{% block title %} Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card ">
          <div class="card-header">
            <h4 class="card-title"> Danh sách member </h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table tablesorter " id="">
                <thead class=" text-primary">
                  <tr>
                    <th>
                      Mã số thiết bị
                    </th>
                    <th>
                      User
                    </th>
                    <th>
                      Assign to
                    </th>
                    <th class="text-center">
                      Action
                    </th>
                  </tr>
                </thead>
                <tbody>
                  {% for member in devices %}
                  <tr>
                    <td>
                      {{ member.id }}
                    </td>
                    <td>
                      {{ member.equipment_id.license_plate }}
                    </td>
                    <td>
                      
                    </td>
                    <td class="text-center">
                      <a href="#" class="btn btn-info view" title="View" ><i
                        class="fas fa-eye"></i></a>
                      <a href="" class="btn btn-info edit" title="Edit" ><i
                          class="fas fa-pencil-alt"></i></a>
                          <a href="#" class="btn btn-info edit" title="Delete" ><i
                            class="fas fa-trash-alt"></i></a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
   
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
