{% extends "layouts/base-fullscreen.html" %}

{% block title %} Register {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}

    <div class="content">
        <div class="container">
          <form method="post">
            {% csrf_token %}

            <div class="card-header text-center py-4">
                <h1 class="title">
                    Khởi tạo
                </h1>

                <h6 class="card-category">
                    {% if msg %}
                        <span class="text-danger">{{ msg | safe }}</span>
                    {% else %}
                        <span>
                            Thêm hành trình cho lái xe
                        </span>
                        <span>
                            {{ member.name }}
                        </span>
                    {% endif %}  
                </h6>     
                <div class="card-body px-5 py-3">
                            
                  <div class="row">
                    <div class="col-md-6 px-md-1">
                      <div class="form-group">   <!-- <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1"/> -->
                          <label>Xe phụ trách</label>
                          {{ xe.name}}

                       </div>
                       <div class="form-group">   <!-- <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1"/> -->
                        <label>Sản phẩm</label>
                        {{ form.product}}
                     </div>
                     <span class="text-danger">{{ form.product.errors }}</span>
                    </div>
                    
                  </div>

          </div>
         
            </div>
            <div class="row pt-5">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header text-center py-4">
                            <h4 class="title">
                                Bắt đầu
                            </h4>
                        </div>
                        <div class="card-body px-5 py-3">
                            
                                <div class="row">
                                    
                                    <div class="col-md-6 px-md-1">
                                        <div class="form-group">   <!-- <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1"/> -->
                                            <label>Ngày bắt đầu</label>
                                            {{ form.start_date}}
                                         </div>
                                         <span class="text-danger">{{ form.end_date.errors }}</span>
                                   </div>
                                   
                                    <div class="col-md-6 px-md-1">
                                        <div class="form-group">
                                            <label>Giờ bắt đầu</label>
                                            {{ form.start_time}}
                                        </div>
                                        <span class="text-danger">{{ form.end_time.errors }}</span>
                                    </div>
                                    
                                    <div class="col-md-12 px-md-1">
                                        <div class="form-group">
                                            <label>Tên: </label>
                                            <span id="startlocationName"></span>
                                            
                                        </div>
                                    </div>
                                    <div class="col-md-12 px-md-1">
                                        <div class="form-group">
                                            <label>Chi tiết: </label>
                                            <span id="startlocationdetailName"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-4 px-md-1">
                                        <div class="form-group">
                                            <label>id:</label>
                                            <input id="startLocationid" name="StartLocationId" readonly />
                                        </div>
                                    </div>

                                    <div class="col-md-12 px-md-1">
                                        <div class="form-group">
                                            <a class="btn" id="toggle">Toggle device dropdown</a>
                                            <div id="dropdown">
                                
                                                <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.."
                                                    title="Type in a name">
                                
                                                <table id="myTable">
                                                    <thead class=" text-primary">
                                                        <tr>
                                                          <th>
                                                            Tên địa điểm
                                                          </th>
                                                          <th class="text-center">
                                                            Action
                                                          </th>
                                                        </tr>
                                                      </thead>
                                                      <tbody>
                                                        {% for member in joyneys %}
                                                        <tr>
                                                          <td>
                                                            {{ member.name }}
                                                          </td>
                                                          <td style="display: none;">
                                                            {{ member.ward_id.name }} ,
                                                            {{ member.district_id.name }} ,
                                                            {{ member.state_id.name }}
                                                          </td>
                                                          <td class="text-center">
                                                            <a onclick="SelectStartLocation({{ forloop.counter }} , {{ member.id}} )" class="btn btn-info edit" title="select" ><i
                                                              class="fas fa-eye"></i></a>
                                                            
                                                          </td>
                                                        </tr>
                                                        {% endfor %}
                                                      </tbody>
                                                </table>
                                
                                            </div>
                                        </div>
                                    </div>
                                </div>

                        </div>
                       
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header text-center py-4">
                            <h4 class="title">
                                Điểm đến
                            </h4>
                        </div>
                        <div class="card-body px-5 py-3">
                         
                                <div class="row">
                                        <div class="col-md-12 px-md-1">
                                          <div class="form-group">
                                              <label>Tên: </label>
                                              <span id="endlocationName"></span>
                                              
                                          </div>
                                      </div>
                                      <div class="col-md-12 px-md-1">
                                          <div class="form-group">
                                              <label>Chi tiết: </label>
                                              <span id="endlocationdetailName"></span>
                                          </div>
                                      </div>
  
                                      <div class="col-md-4 px-md-1">
                                          <div class="form-group">
                                              <label>id:</label>
                                              <input id="endLocationid" name="EndLocationId" readonly />
                                          </div>
                                      </div>


                                    <div class="col-md-12 px-md-1">
                                        <div class="form-group">
                                            <a class="btn" id="toggle2">Toggle device dropdown</a>
                                            <div id="dropdown2">
                                
                                                <input type="text" id="myInput2" onkeyup="myFunction2()" placeholder="Search for names.."
                                                    title="Type in a name">
                                
                                                <table id="myTable2">
                                                    <thead class=" text-primary">
                                                        <tr>
                                                          <th>
                                                            Tên địa điểm
                                                          </th>
                                                          <th>
                                                            chi tiết
                                                          </th>
                                                          
                                                          <th class="text-center">
                                                            Action
                                                          </th>
                                                        </tr>
                                                      </thead>
                                                      <tbody>
                                                        {% for member in joyneys %}
                                                        <tr>
                                                          <td>
                                                            {{ member.name }}
                                                          </td>
                                                          <td style="display: none;">
                                                            {{ member.ward_id.name }} ,
                                                            {{ member.district_id.name }} ,
                                                            {{ member.state_id.name }}
                                                          </td>
                                                          <td class="text-center">
                                                            <a onclick="SelectEndLocation({{ forloop.counter }} , {{ member.id}} )" class="btn btn-info view" title="View" ><i
                                                              class="fas fa-eye"></i></a>
                                                            
                                                          </td>
                                                        </tr>
                                                        {% endfor %}
                                                      </tbody>
                                                </table>
                                
                                            </div>
                                        </div>
                                    </div>
                                </div>

                        </div>
                      
                    </div>
                </div>
                
            </div>
            <div class="card-footer text-center">
                <input type="submit"  class="btn btn-fill btn-primary">Register</input>

                <br /><br />
                
                <p>
                    https://gateway.vantaihahai.com
                </p> 
            </div>
          </form>
        </div>

    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
const devices = ['Desktops', 'Laptops', 'Tablets', 'Mobile phones', 'Smart watches', 'Gaming consoles', 'Hand-held consoles'];

function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    td1 = tr[i].getElementsByTagName("td")[1];

    if (td && td1) {
      txtValue = (td.textContent || td.innerText).concat(td1.textContent || td1.innerText) ;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
function SelectStartLocation(index, member_id){
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr")[index];
  
  td = tr.getElementsByTagName("td")[0];
  td1 = tr.getElementsByTagName("td")[1];
  element = document.getElementById("startlocationName")
  element.innerHTML = td.innerHTML
  document.getElementById("startlocationdetailName").innerHTML = td1.innerHTML
  element.scrollIntoView();
  document.getElementById("startLocationid").value = member_id
  dropdown = document.getElementById('dropdown')
  if (dropdown.style.display == 'none')
      dropdown.style.display = 'block';
  else
      dropdown.style.display = 'none';
}

function SelectEndLocation(index, member_id){
  table = document.getElementById("myTable2");
  tr = table.getElementsByTagName("tr")[index];
  
  td = tr.getElementsByTagName("td")[0];
  td1 = tr.getElementsByTagName("td")[1];
  element = document.getElementById("endlocationName")
  element.innerHTML = td.innerHTML
  document.getElementById("endlocationdetailName").innerHTML = td1.innerHTML
  element.scrollIntoView();
  document.getElementById("endLocationid").value = member_id
  dropdown = document.getElementById('dropdown2')
  if (dropdown.style.display == 'none')
      dropdown.style.display = 'block';
  else
      dropdown.style.display = 'none';

}
function myFunction2() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput2");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable2");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    td1 = tr[i].getElementsByTagName("td")[1];
  
    if (td && td1) {
      txtValue = (td.textContent || td.innerText).concat(td1.textContent || td1.innerText) ;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
function filterDropDown(button, dropdown, input, items) {
    //Create dropdown items from a list of items
    // for (let i=0; i<items.length; i++) {
    //     let dropdown_item = document.createElement('a');
    //     dropdown_item.setAttribute('href', '#'+items[i]);
    //     dropdown_item.setAttribute('class', 'dropdown-item');
    //     dropdown_item.innerHTML = items[i];
    //     dropdown.appendChild(dropdown_item);
    // }
    //Hide the dropdown list
    dropdown.style.display = 'none';

    //Make the button toggle the display of dropdown
    button.addEventListener('click', function () {
        if (dropdown.style.display == 'none')
            dropdown.style.display = 'block';
        else
            dropdown.style.display = 'none';
    });

    // input.addEventListener('input', function () {
    //     let dropdown_items = dropdown.querySelectorAll('.dropdown-item');
    //     if (!dropdown_items)
    //         return false;
    //     for (let i=0; i<dropdown_items.length; i++) {
    //         if (dropdown_items[i].innerHTML.toUpperCase().includes(input.value.toUpperCase()))
    //             dropdown_items[i].style.display = 'block';
    //         else
    //             dropdown_items[i].style.display = 'none';
    //     }
    // });
}

//Call filterDropDown function
filterDropDown(
    document.getElementById('toggle'),
    document.getElementById('dropdown'),
    document.getElementById('input'),
    devices
)
filterDropDown(
    document.getElementById('toggle2'),
    document.getElementById('dropdown2'),
    document.getElementById('input2'),
    devices
)
</script>

{% endblock javascripts %}
